@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav_area{
    background-color: #2C3E50;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
}
.logo a, 
.navbar a{
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.logo a{
    font-size: 30px;
}
.navbar{
    display: flex;
    gap: 20px;
}
.navbar a{
    font-size: 22px;
}
.navbar a:hover{
    color: rgb(122, 155, 64);
}

/* header end */



/* main start */

#hero{
    background-color: #1ABC9C;
    height: 700px;
}
.main-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.image{
    width: 200px;
}
.main-header h1{
    font-size: 70px;
}
.main-header p{
    font-size: 23px;
}
.star_area{
    display: flex;
    gap: 15px;
}
.left_line, .right_line{
    width: 150px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}






















/* .logo{
     display: inline-block;
}

.logo a{
    font-size: 40px;
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
.navbar{
    display: inline-block;
    margin-left: 751px;
}
.navbar a{
    font-size: 22px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
   font-family: "Montserrat", sans-serif;
   
}

.navbar a:hover{
    color: forestgreen;
    transition: all .5s;
} */